/* :root {
    --white: white;
    --black: black;
    --green: rgb(188, 213, 97);
    --blue: rgb(0, 47, 167);
} */

/* UNIVERSAL */
* {
    margin: 1px;
    padding: 1px;
    /* box-sizing: border-box; */
    background-color: var(--black);
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: rgba(0, 47, 167, 1);
}

/* body {

} */

h1 {
    font-size: 30em;
    text-align: center;;
}


/* ID  */
#navBrand {
    font-size: 1.5em !important;
    
}

/* CLASSES */
.container {
    max-width: fit-content;
}

.container-fluid {
    width: 100%;
}

.cardContainer {
    margin-top: 20px;
}

.card {
    margin: 0 auto;
}

.container {
    display: flex;
}

.col-sm {
    width: 540px;
}